{% extends "SiteruffecardeSiteBundle::Layout.html.twig"%}


{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <div class="container container-login">
        <div class="row">

            <div class="col-lg-12">
                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">


                    <div class="form-group">

                        <label for="fos_user_registration_form_username" class="col-sm-4 control-label"> {{ form_label(form.username ) }}    </label>

                        <div class="col-sm-6">
                            {{form_widget(form.username, {'attr': {'class': 'form-control'}} )}}
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="fos_user_registration_form_Nom" class="col-sm-4 control-label"> {{ form_label(form.Nom ) }}    </label>

                        <div class="col-sm-6">
                            {{form_widget(form.Nom, {'attr': {'class': 'form-control'}} )}}
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="fos_user_registration_form_Prenom" class="col-sm-4 control-label"> {{ form_label(form.Prenom ) }}    </label>

                        <div class="col-sm-6">
                            {{form_widget(form.Prenom, {'attr': {'class': 'form-control'}} )}}
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="fos_user_registration_form_email" class="col-sm-4 control-label"> {{ form_label(form.email ) }}    </label>

                        <div class="col-sm-6">
                            {{form_widget(form.email, {'attr': {'class': 'form-control'}} )}}
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="fos_user_registration_form_plainPassord_first" class="col-sm-4 control-label"> {{ form_label(form.plainPassword.first) }}    </label>

                        <div class="col-sm-6">
                            {{form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}} )}}
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="fos_user_registration_plainPassword_second" class="col-sm-4 control-label"> {{ form_label(form.plainPassword.second) }}    </label>

                        <div class="col-sm-6">
                            {{form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}} )}}
                        </div>
                        

                    </div>   
                    <div class="form-group">

                        <label for="fos_user_registration_form_Birthday" class="col-sm-4 control-label"> {{ form_label(form.Birthday ) }}    </label>

                        <div class="col-sm-6">
                            {{form_widget(form.Birthday, {'attr': {'class': 'form-control','type' : 'date'}} )}}
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="usernameusernamefos_user_registration_form_Tel" class="col-sm-4 control-label"> {{ form_label(form.Tel ) }}    </label>

                        <div class="col-sm-6">
                            {{form_widget(form.Tel, {'attr': {'class': 'form-control'}} )}}
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="fos_user_registration_form_Adresse" class="col-sm-4 control-label"> {{ form_label(form.Adresse ) }}    </label>

                        <div class="col-sm-6">
                            {{form_widget(form.Adresse, {'attr': {'class': 'form-control'}} )}}
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="fos_user_registration_form_Complement" class="col-sm-4 control-label"> {{ form_label(form.Complement ) }}    </label>

                        <div class="col-sm-6">
                            {{form_widget(form.Complement, {'attr': {'class': 'form-control'}} )}}
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="fos_user_registration_form_CdePostal" class="col-sm-4 control-label"> {{ form_label(form.CdePostal ) }}    </label>

                        <div class="col-sm-6">
                            {{form_widget(form.CdePostal, {'attr': {'class': 'form-control'}} )}}
                        </div>
                    </div>
                    <div class="form-group">

                        <label for="fos_user_registration_form_Ville" class="col-sm-4 control-label"> {{ form_label(form.Ville ) }}    </label>

                        <div class="col-sm-6">
                            {{form_widget(form.Ville, {'attr': {'class': 'form-control'}} )}}
                        </div>
                        
                         <div id="reinitialise" class="col-sm-offset-2 col-sm-10"> 

                            <input type="submit" class="btn btn-default" value="{{ 'registration.submit'|trans }}" />

                        </div>  
                    </div>



                    {{ form_rest(form) }}

            </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}
