{# empty Twig template #}
<!-- Footer Section Starts -->
	<footer id="footer-area">
	<!-- Footer Links Starts -->
		<div class="footer-links">
		<!-- Container Starts -->
			<div class="container">
				<!-- Information Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>Information</h5>
						<ul>
							<li><a href="#">A propos</a></li>
							<li><a href="#">Livraison</a></li>
							<li><a href="#">Confidentialité</a></li>
							<li><a href="{{path('TermsConditions')}}">Termes &amp; Conditions</a></li>
						</ul>
					</div>
				<!-- Information Links Ends -->
				<!-- My Account Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>Mon compte</h5>
						<ul>
							<li><a href="#">Mon Panier</a></li>
							<li><a href="#">Mes Commandes</a></li>
							<li><a href="#">Mes Adresses</a></li>
							<li><a href="#">Mes Infos</a></li>
						</ul>
					</div>
				<!-- My Account Links Ends -->					
				<!-- Customer Service Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>Service</h5>
						<ul>
							<li><a href="#">Contactez-nous</a></li>
							<li><a href="#">Plan du site</a></li>
							<li><a href="#">Affiliation</a></li>
							<li><a href="#">Ruffe Card</a></li>
						</ul>
					</div>
				<!-- Customer Service Links Ends -->
				<!-- Follow Us Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>Aide</h5>
						<ul>
							<li><a href="#">Aide</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Signaler</a></li>
							<li><a href="#">Vendeurs Pro</a></li>
						</ul>
					</div>
				<!-- Follow Us Links Ends -->
				<!-- Contact Us Starts -->
					<div class="col-md-4 col-sm-12 last">
						<h5>Contactez-nous</h5>
						<ul>
							<li>Ruffe Card</li>
                            <li>Saint Phy</li>
                            <li>Saint-Claude</li>
							<li>Email: <a href="#">info@ruffe-card.com</a></li>
						</ul>
						<h4 class="lead">
							Tél.: <span>+590 690 91-3303</span>
						</h4>
					</div>
				<!-- Contact Us Ends -->
			</div>
		<!-- Container Ends -->
		</div>
	<!-- Footer Links Ends -->
	<!-- Copyright Area Starts -->
		<div class="copyright">
		<!-- Container Starts -->
			<div class="container">
			<!-- Starts -->
				<p class="pull-left">
                    &copy; 2015 Ruffe Card. Tous droits réservés.
				</p>
			<!-- Ends -->
			</div>
		<!-- Container Ends -->
		</div>
	<!-- Copyright Area Ends -->
	</footer>
<!-- Footer Section Ends -->


<!-- JavaScript Files -->
<script src="{{asset('bundles/siteruffecardesite/js/jquery-1.11.1.min.js')}}"></script>
<script src="{{asset('bundles/siteruffecardesite/js/jquery-migrate-1.2.1.min.js')}}"></script>
<script src="{{asset('bundles/siteruffecardesite/js/bootstrap.min.js')}}"></script>
<script src="{{asset('bundles/siteruffecardesite/js/bootstrap-hover-dropdown.min.js')}}"></script>
<script src="{{asset('bundles/siteruffecardesite/js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{asset('bundles/siteruffecardesite/js/custom.js')}}"></script>
 {% block javascripts %}
        <script>
        $(document).ready(function(){    
            
        $(function (){

$("#pop").popover({placement:'bottom'});

});

        }); 
        </script>
    {% endblock javascripts %}
</body>
</html>